{% extends "base.html" %}
{% block contents %}

<!-- Section-->
<section class="py-5">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container px-4 px-lg-5">
            <h3 class="fw-bolder">모든 소식</h3>
            <ul class="navbar-nav mb-2 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="#!">조회순</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">마감기한순</a></li>
            </ul>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
        {% for post in posts %}

            <div class="col mb-5 none-a">
                <a class="card h-100" href="{% url 'post-detail' post.id %}">
                    <!-- D-day -->
                    {% if post.end_date %}
                        <div class="badge bg-pink text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ post.end_date|timeuntil }} left</div>
                    {% endif %}
                    <!-- image-->
                    <img class="card-img-top" src="{{ post.photo.url }}" alt="..." />
                    <!-- details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- title -->
                            <h5 class="fw-bolder">{{ post.title }}</h5>
                            <!-- term -->
                            {% if post.end_date %}
                                ~ {{ post.end_date|date:"y.m.d" }} </br>
                            {% else %}
                                상시 </br>
                            {% endif %}
                            <!-- subhead -->
                            {{ post.subhead }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

        </div>
    </div>
</section>

{% endblock %}