{% extends "base.html" %}
{% block contents %}

<!-- detail -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {% if post_detail.photo %}
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ post_detail.photo.url }}" alt="..." /></div>
            {% endif %}
            <div class="col-md-6">
                <!-- <div class="small mb-1">comment</div> -->
                {% if post_detail.end_date %}
                    <div class="fs-5 mb-1">~ {{ post_detail.end_date|date:"y.m.d" }}</div>
                {% else %}
                    <div class="fs-5 mb-1">상시</div>
                {% endif %}
                <h1 class="display-5 fw-bolder mb-3">{{ post_detail.title }}</h1>
                <div class="search-tag mb-4">
                    <a class="tag" href="#!">{{ post_detail.category }}</a>
                    {% if post_detail.loc1 %}
                        <a class="tag" href="#!">{{ post_detail.loc1 }}</a>
                    {% endif %}
                    {% if post_detail.loc2 %}
                        <a class="tag" href="#!">{{ post_detail.loc2 }}</a>
                    {% endif %}
                    {% if post_detail.target %}
                        <a class="tag" href="#!">{{ post_detail.target }}</a>
                    {% endif %}
                    {% if post_detail.income %}
                        <a class="tag" href="#!">{{ post_detail.income }}</a>
                    {% endif %}
                </div>
                <div style="height: 25rem; overflow: auto">
                    <p class="lead">{{ post_detail.body|linebreaks }}</p>
                </div>
                <!-- <div class="d-flex">                    
                    <button class="btn-radius btn-outline-dark flex-shrink-0" type="submit">
                        더보기
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-4 bg-light">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container px-4 px-lg-5">
            <h3 class="fw-bolder">관련 소식</h3>
            <ul class="navbar-nav mb-2 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="#!">조회순</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">마감기한순</a></li>
            </ul>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
        {% for post in posts %}

            <div class="col mb-5 none-a">
                <a class="card h-100" href="{% url 'post-detail' post.id %}">
                    <!-- D-day -->
                    {% if post.end_date %}
                        <div class="badge bg-pink text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ post.end_date|timeuntil }} left</div>
                    {% endif %}
                    <!-- image-->
                    <img class="card-img-top" src="{{ post.photo.url }}" alt="..." />
                    <!-- details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- title -->
                            <h5 class="fw-bolder">{{ post.title }}</h5>
                            <!-- term -->
                            {% if post.end_date %}
                                ~ {{ post.end_date|date:"y.m.d" }} </br>
                            {% else %}
                                상시 </br>
                            {% endif %}
                            <!-- subhead -->
                            {{ post.subhead }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

        </div>
    </div>
</section>
{% endblock %}
