{% extends "base.html" %}
{% block contents %}
<!-- Header-->
<header class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <!-- <img class="search-icon" src="assets/logo.png" width="30"> -->
            <div class="main">
                <img class="main-img" src="../static/assets/piggy-bank.png" width="80px">
                <img class="main-img" src="../static/assets/piggy-bank.png" width="80px">
                <img class="main-img" src="../static/assets/piggy-bank.png" width="80px">
            </div>
            <div class="search">


                <form id="searchForm" method="GET" action="{% url 'search-list' %}">
                    <div class="search-box">
                    <input class="search-txt" type="text" id="search_kw" value="" placeholder="검색어를 입력하세요.">
                    <i class="fas fa-search" id="btn_search"></i>
                </div>
                    <input type="hidden" id="kw" name="kw">
                    <input type="hidden" id="kw_age">
                    <input type="hidden" id="kw_loc" name="kw_loc">
                <div class="search-tag">
                    <!-- 나이 -->
                    <input class="tag input-tag text-center" name="kw_age" type="text" id="search_kw_age" placeholder="나이">
                    <!-- 지역 -->

                    <span class="tag">지역</span>
                    <span class="loc">
                        <!-- <select name="sido1" id="sido1"></select>
                        <select name="gugun1" id="gugun1"></select>
                    </span> -->
                         <select onchange="location2(this)">
                            <option>전체</option>
                            <option value="서울">서울</option>
                            <option value="경기">경기</option>
                            <option value="인천">인천</option>
                            <option value="강원">강원</option>
                            <option value="충북">충북</option>
                            <option value="충남">충남</option>
                            <option value="전북">전북</option>
                            <option value="전남">전남</option>
                            <option value="경북">경북</option>
                            <option value="경남">경남</option>
                            <option value="부산">부산</option>
                            <option value="대구">대구</option>
                            <option value="광주">광주</option>
                            <option value="대전">대전</option>
                            <option value="울산">울산</option>
                            <option value="제주">제주</option>
                        </select>

                        <select id="loc2">

                        <option>전체</option>
                        </select>
                        </span>
                        <script type="text/javascript">
                        function location2(e) {
                            const loc2_서울 = ['전체','강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구'];
                            const loc2_경기 = ['전체','고양시','과천시','광명시','구리시','군포시','남양주시','동두천시','부천시','성남시','수원시','시흥시','안산시','안양시','오산시','의왕시','의정부시','평택시','하남시','가평군','광주시','김포시','안성시','양주군','양평군','여주군','연천군','용인시','이천군','파주시','포천시','화성시'];
                            const loc2_인천 = ['전체','계양구','남구','남동구','동구','부평구','서구','연수구','중구','강화군','옹진군'];
                            const loc2_강원 = ['전체','강릉시','동해시','삼척시','속초시','원주시','춘천시','태백시','고성군','양구군','양양군','영월군','인제군','정선군','철원군','평창군','홍천군','화천군','횡성군'];
                            const loc2_충북 = ['전체','제천시','청주시','충주시','괴산군','단양군','보은군','영동군','옥천군','음성군','진천군','청원군'];
                            const loc2_충남 = ['전체','공주시','보령시','서산시','아산시','천안시','금산군','논산군','당진군','부여군','서천군','연기군','예산군','청양군','태안군','홍성군'];
                            const loc2_전북 = ['전체','군산시','김제시','남원시','익산시','전주시','정읍시','고창군','무주군','부안군','순창군','완주군','임실군','장수군','진안군'];
                            const loc2_전남 = ['전체','광양시','나주시','목포시','순천시','여수시','여천시','강진군','고흥군','곡성군','구례군','담양군','무안군','보성군','신안군','여천군','영광군','영암군','완도군','장성군','장흥군','진도군','함평군','해남군','화순군'];
                            const loc2_경북 = ['전체','경산시','경주시','구미시','김천시','문겅시','상주시','안동시','영주시','영천시','포항시','고령군','군위군','봉화군','성주군','영덕군','영양군','예천군','울릉군','울진군','의성군','청도군','청송군','칠곡군'];
                            const loc2_경남 = ['전체','거제시','김해시','마산시','밀양시','사천시','울산시','진주시','진해시','창원시','통영시','거창군','고성군','남해군','산청군','양산시','의령군','창녕군','하동군','함안군','함양군','합천군'];
                            const loc2_부산 = ['전체','강서구','금정구','남구','동구','동래구','부산진구','북구','사상구','사하구','서구','수영구','연제구','영도구','중구','해운대구','기장군'];
                            const loc2_대구 = ['전체','남구','달서구','동구','북구','서구','수성구','중구','달성군'];
                            const loc2_광주 = ['전체','광산구','남구','동구','북구','서구'];
                            const loc2_대전 = ['전체','대덕구','동구','서구','유성구','중구'];
                            const loc2_울산 = ['전체','남구','동구','북구','중구','울주군'];
                            const loc2_제주 = ['전체','서귀포시','제주시','남제주군','북제주군'];
                            const target = document.getElementById("loc2");

                            if(e.value == "서울") appending(loc2_서울);
                            else if(e.value == "경기") appending(loc2_경기);
                            else if(e.value == "인천") appending(loc2_인천);
                            else if(e.value == "강원") appending(loc2_강원);
                            else if(e.value == "충북") appending(loc2_충북);
                            else if(e.value == "충남") appending(loc2_충남);
                            else if(e.value == "전북") appending(loc2_전북);
                            else if(e.value == "전남") appending(loc2_전남);
                            else if(e.value == "경북") appending(loc2_경북);
                            else if(e.value == "경남") appending(loc2_경남);
                            else if(e.value == "부산") appending(loc2_부산);
                            else if(e.value == "대구") appending(loc2_대구);
                            else if(e.value == "광주") appending(loc2_광주);
                            else if(e.value == "대전") appending(loc2_대전);
                            else if(e.value == "울산") appending(loc2_울산);
                            else if(e.value == "제주") appending(loc2_제주);



                            function appending(data) {
                                target.options.length = 0;
                                for (x in data) {
                                    let opt = document.createElement("option");
                                    opt.value = data[x];
                                    opt.innerHTML = data[x];
                                    target.appendChild(opt);
                                }
                            }}
                        </script>



                    <!-- 분야 -->
                    <span class="tag">분야</span>
                        <span class="categories">
                            <input type='checkbox' class='search-check' name='categories' value='지원 정책' /> 지원 정책
                            <input type='checkbox' class='search-check' name='categories' value='금융 상품' /> 금융 상품
                            <input type='checkbox' class='search-check' name='categories' value='주간 소식' /> 주간 소식
                        </span>

                    <!-- 대상 -->
                    <br/>
                    <span class="tag">대상</span>

                        <span class="targets">
                            <input type='checkbox' class='search-check' name='kw_target' id="청년" value='청년' /> 청년
                            <input type='checkbox' class='search-check' name='kw_target' id="미성년자" value='미성년자' /> 미성년자
                            <input type='checkbox' class='search-check' name='kw_target' id="대학생" value='대학생' /> 대학생
                            <input type='checkbox' class='search-check' name='kw_target' id="직장인" value='직장인' /> 직장인
                            <input type='checkbox' class='search-check' name='kw_target' id="군인" value='군인' /> 군인
                            <input type='checkbox' class='search-check' name='kw_target' id="기혼" value='기혼' /> 기혼
                            <input type='checkbox' class='search-check' name='kw_target' id="무주택자" value='무주택자' /> 무주택자
                            <input type='checkbox' class='search-check' name='kw_target' id="차상위" value='차상위' /> 차상위
                            <input type='checkbox' class='search-check' name='kw_target' id="장애인" value='장애인' /> 장애인
                            <input type='checkbox' class='search-check' name='kw_target' id="국가유공자" value='국가유공자' /> 국가유공자
                        </span>

                    <!-- 월 소득 -->
                    <br/>
                    <span class="tag">월 소득</span>
                        <span class="incomes">
                            <input type='checkbox' class='search-check' name='income' value='무소득' /> 무소득
                            <input type='checkbox' class='search-check' name='income' value='1~100만원' /> 1~100만원
                            <input type='checkbox' class='search-check' name='income' value='101~200만원' /> 101~200만원
                            <input type='checkbox' class='search-check' name='income' value='201~300만원' /> 201~300만원
                            <input type='checkbox' class='search-check' name='income' value='301~400만원' /> 301~400만원
                            <input type='checkbox' class='search-check' name='income' value='401만원 초과' /> 401만원 초과
                        </span>
                    </div>
            </form>
            </div>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-4 bg-light">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container px-4 px-lg-5">
            {% if kw %}
            <h3 class="fw-bolder">"{{ kw }}" 검색 결과</h3>
            {% else %}
            <h3 class="fw-bolder">많이 검색한 소식</h3>
            {% endif %}
            <ul class="navbar-nav mb-2 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="#!">조회순</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">마감기한순</a></li>
            </ul>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% if exist_posts %}
                {% for post in search_posts %}
                    <div class="col mb-5 none-a">
                        <a class="card h-100" href="{% url 'post-detail' post.id %}">
                            <!-- D-day -->
                            {% if post.end_date %}
                                <div class="badge bg-pink text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ post.end_date|timeuntil }} left</div>
                            {% endif %}
                            <!-- image-->
                            <img class="card-img-top" src="{{ post.photo.url }}" alt="..." />
                            <!-- details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- title -->
                                    <h5 class="fw-bolder">{{ post.title }}</h5>
                                    <!-- term -->
                                    {% if post.end_date %}
                                        ~ {{ post.end_date|date:"y.m.d" }} </br>
                                    {% else %}
                                        상시 </br>
                                    {% endif %}
                                    <!-- subhead -->
                                    {{ post.subhead }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                검색 결과가 없습니다.
        {% endif %}
        
        </div>
    </div>
</section>
{% endblock %}