{% extends "base.html" %}
{% block contents %}

<!-- Header-->
<header class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <img class="main-img" src="../static/assets/piggy-bank.png" width="130px">
            <div class="search">
                <form id="searchForm" method="GET" action="{% url 'search-list' %}">
                <div class="search-box">
                    <input class="search-txt" type="text" id="search_kw" placeholder="검색어를 입력하세요">
                    <i class="fas fa-search" id="btn_search"></i>
                    <input type="hidden" id="kw" name="kw">
                    <!-- <input type="hidden" id="page" name="page" value="{{ page }}"> -->
                </form>
            </div>
                <div class="search-tag">
                    {% for tag in kw_tags %}
                        <a class="tag" href="{% url 'tag-search-list' tag.id %}">{{ tag.keyword }}</a>
                    {% endfor %}
                    <a class="tag font-gray" href="{% url 'search-list' %}">상세 검색</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-4 bg-light">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container px-4 px-lg-5">
            <h3 class="fw-bolder">"{{ kw_tag }}" 검색 결과</h3>
            <ul class="navbar-nav mb-2 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="#!">조회순</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">마감기한순</a></li>
            </ul>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% if tag_search_posts %}
                {% for post in tag_search_posts %}
                    <div class="col mb-5 none-a">
                        <a class="card h-100" href="{% url 'post-detail' post.id %}">
                            <!-- D-day -->
                            {% if post.end_date %}
                                <div class="badge bg-pink text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ post.end_date|timeuntil }} left</div>
                            {% endif %}
                            <!-- image-->
                            <img class="card-img-top" src="{{ post.photo.url }}" alt="..." />
                            <!-- details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- title -->
                                    <h5 class="fw-bolder">{{ post.title }}</h5>
                                    <!-- term -->
                                    {% if post.end_date %}
                                        ~ {{ post.end_date|date:"y.m.d" }} </br>
                                    {% elif post.category == '주간 소식' %}
                                        주간 소식 </br>
                                    {% else %}
                                        상시 </br>
                                    {% endif %}
                                    <!-- subhead -->
                                    {{ post.subhead }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                검색 결과가 없습니다.
        {% endif %}
        
        </div>
    </div>
</section>
<script>
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
    //const selectedLoc = document.querySelector("#loc2");
    document.getElementById('kw').value = document.getElementById('search_kw').value;
   // document.getElementById('kw_age').value = document.getElementById('search_kw_age').value;
    //document.getElementById('kw_loc').value = selectedLoc.value;
    // document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
})
</script>
{% endblock %}